<% resource_cache(resource) do %> 
  <article class='product'>
    <div class="row-fluid">
      <div class="span6" id="product-images-container"> 
        <%#= render_slideshow_for(resource) %>
 		<%= render 'images', :images => resource.images %>
      </div>
      <div class="span6">
        <%= page_title(resource.title) %>
		<p class="product-price"><%= indivisible_number_to_currency resource.price %></p>
        <% unless resource.body.blank? %>
			<hr> 
			<%= render_html_text(resource.body) %>
		<% end %>
        <% unless @product_properties.empty? %> 
        <hr>
        <div class="product_properties">
          <table id="product-properties">
          <tbody>
            <% for product_property in @product_properties  %>
            <% next unless product_property.property_presentation.present? %>
            <tr>
              <td><strong><%= product_property.property_presentation %></strong></td>
              <td><%= product_property.value %></td>
            </tr>
            <% end %>
          </tbody>
          </table>
        </div>
        <% end %>  
        <% if resource.has_variants? %>
          <hr>
          <div id="product-variants">
          <p>
          <ul class="nav">
            <% resource.variants.order("variants.price ASC").each_with_index do |v,index| %>
            <% next if v.option_values.empty?  %>

            <% if v.images.size > 0 %>
               <li class="product-variant"><a href="<%= variant_url(v) %>" data-remote="true"><%= image_tag(v.thumbnail.thumbnail("x200").url) %></a></li>
			<% else %>
            <% values = v.option_values.joins(:option_type).order("option_types.position asc") 
               values.map! do |ov| %>
            <li id="<%= ov.option_type.name %>_<%= ov.name %>"><a href="#{ov.name}" class="btn btn-link btn-popover" data-toggle="popover" data-placement="left" data-container="body" data-content='<%= image_tag("print_#{ ov.option_type.name }_#{ov.name}.jpg").html_safe %>' data-title="<%= ov.presentation %>" data-html="true" data-trigger="hover"><%= image_tag("print_#{ ov.option_type.name }_#{ov.name}.jpg", :class => "print-preview") %><%#= ov.presentation %><span class="pull-right"><%#= indivisible_number_to_currency v.price %></span></a></li>
            <% end %>
			<% end %>
            <% end%>
          </ul> 
          </p>
          </div>
        <% end %> 
        <hr> 
          <ul class="nav nav-social-buttons">
            <!-- Facebook like link and send button -->
            <li id="fb_like_send" class="facebook_like">
              <div class="fb-like" data-href="<%= request.fullpath %>" data-send="true" data-layout="button_count" data-width="200" data-show-faces="false"></div>  
            </li>
            <!-- pin it -->
            <li id="pinterest">
              <%= pin_it_button(request.protocol + request.host + resource.public_url, resource.images.first)  %> 
            </li>
			<!-- twitter button --> 
			<li id="twitter">
				<a href="https://twitter.com/share" class="twitter-share-button" data-lang="<%= ::I18n.locale %>" data-count="none">Tweeter</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
			</li>
            <!-- tell a friend 
            <li id="tell_a_friend">
              <a href="#" id="tell-a-friend-link" class="btn"><i class="icon icon-envelope"></i></a>
            </li>    --> 
          </ul>
       
        <hr>
				<%= link_to(url_for([parent]), :id => 'back-to-collection', :class => 'btn btn-custom') do %>
          <%= raw("<i class='icon-angle-left'></i>#{t('catalog.back_to_catalog')}") %>
        <% end %>
				<hr>
        <%= render_resource_categories(:title => "Voir plus") %>
        <%= render_resource_stickers %>
        <%#= render_next_previous %> 
         
      </div>
    </div>
  </article>
<% end %>

